/* Externalized stylesheet for index.html */
body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

tt {
    font-size: 125%;
}

li {
    margin-bottom: 1.5em;
}
